@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=PT+Mono&family=PT+Sans:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
p {
  line-height: 1.5;
  font-size: 18px;
}
header {
  background-color: black;
}

body {
  background-color: black;
  color: white;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 30px;
}

.nav-link {
  transition: 2s ease;
}

.nav-link:hover {
  color: black;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: white;
}
.hero-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url("./images/heroImage.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-content {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 600px;
  grid-template-rows: repeat(2, 100px);
  text-align: center;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

.welcome h2 {
  font-size: 40px;
}

.about-container {
  display: grid;
  grid-template-columns: 300px 400px;
  justify-content: right;

  padding-top: 120px;
  gap: 300px;
  color: white;
  padding-bottom: 80px;
}

.about-img {
  background-image: url("./images/aboutImg2.jpeg");
  background-position: center;
  background-size: cover;
}

#about {
  background-color: black;
}
.about-header h2 {
  font-size: 35px;
}

.about-heading {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.services-con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 450px;
}

.heading-ser {
  font-size: 35px;
}
.heading-ser ul li {
  list-style: none;
}

.s {
  font-size: 20px;
}

.contact-header {
  display: grid;
  justify-content: center;
  margin-top: 40px;

  grid-template-columns: 1000px;
  grid-template-rows: 80px 250px;
}
.contact-header h2 {
  font-size: 35px;
  text-align: center;
}

.contact-main-con {
  display: grid;
  grid-template-columns: 200px 400px;
  justify-content: center;
  gap: 100px;
}

.contact-info ul li {
  font-size: 19px;
}
