@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=PT+Mono&family=PT+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Chakra+Petch:wght@500&family=PT+Mono&family=PT+Sans:ital@1&family=Play&family=Sofia+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

li {
  list-style: none;
}

a {
  /* color: white; */
  color: black;
  text-decoration: none;
  font-family: "Play", sans-serif;
}
a:hover {
  color: rgb(76, 173, 73);
  transition: 1s;
}
p {
  line-height: 1.5;
  font-size: 18px;
  color: black;
}
h2 {
  font-family: "Play", sans-serif;
}
h3 {
  font-family: "Play", sans-serif;
}
h4 {
  font-family: "Play", sans-serif;
}
header {
  /* background-color: black; */
  /* background-color: #17365d; */
  background-color: rgb(22, 22, 22);
  border-bottom: solid 0.5px white;
  /* margin-right: 10px;
  margin-left: 10px; */
}
header a {
  color: white;
}

body {
  /* background-color: black; */
  background-color: white;
  /* color: white; */
  color: black;
}

#brand {
  height: 60px;
  width: 60px;
}

.brand {
  display: grid;
  text-align: center;
  grid-template-rows: 40px 30px;
  align-items: center;
}
.brandImg {
  padding-top: 20px;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 22px;
  font-family: "Play", sans-serif;
}

/* .nav-link {
  transition: 2s ease;
}

.nav-link:hover {
  color: black;
} */

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: white;
}
.hero-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("./images/CybertekPaint.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-content {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 600px;
  grid-template-rows: repeat(2, 100px);
  text-align: center;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

.welcome h2 {
  font-size: 40px;
}

.about-container {
  display: grid;
  grid-template-columns: 300px 400px;
  justify-content: right;

  padding-top: 120px;
  gap: 300px;
  color: white;
  padding-bottom: 80px;
  background-color: rgb(22, 22, 22);
}

.about-img {
  background-image: url("./images/aboutImg2.jpeg");
  background-position: center;
  background-size: cover;
}

#about {
  /* background-color: black; */
  background-color: white;
}
.about-header h2 {
  font-size: 35px;
  color: rgb(76, 173, 73);
}

.about-heading {
  /* color: white; */
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(22, 22, 22);
}
/* 
.services-con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 450px;
} */

/* .heading-ser {
  font-size: 35px;
}
.heading-ser ul li {
  list-style: none;
}

.s {
  font-size: 20px;
} */

/* .contact-header {
  display: grid;
  justify-content: center;
  margin-top: 40px;

  grid-template-columns: 1000px;
  grid-template-rows: 80px 250px;
}
.contact-header h2 {
  font-size: 35px;
  text-align: center;
}

.contact-main-con {
  display: grid;
  grid-template-columns: 200px 400px;
  justify-content: center;
  gap: 100px;
}

.contact-info ul li {
  font-size: 19px;
}

.get-started-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 60px;
}

.get-started-content {
  border: solid white 3px;
  padding: 2px 5px;
}

.get-started-content:hover {
  border: solid rgb(226, 127, 14) 3px;
  transition: 1s;
} */
footer {
  /* background-color: #17365d; */
  background-color: rgb(22, 22, 22);
  border-top: solid 0.5px white;
}
.copyright p {
  color: white;
}
footer a {
  color: white;
  font-family: "Play", sans-serif;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  /* margin-top: 50px; */
  padding-top: 20px;
  /* border-top: solid white 0.5px; */
  flex-wrap: wrap;
}

#face {
  padding-right: 20px;
}

.top {
  display: grid;
  grid-template-columns: 820px;
  justify-content: center;
  gap: 40px;
  margin-bottom: 120px;
}

.header-start h2 {
  text-align: center;
  font-size: 35px;
}

.calendly-inline-widget {
  height: 900px;
}

/* new code for contact section */
.contact {
  background-color: grey;
}
/* new code for services */
#services {
  background-color: rgba(22, 22, 22, 0.899);
  padding-bottom: 70px;
  padding-top: 50px;
}
.services {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.headerS {
  font-size: 22px;
  color: white;
  text-align: center;
}

.brandImg {
  text-align: center;
  padding-top: 22px;
}
.list {
  color: white;
  font-size: 14px;
}

.list a {
  color: white;
}
.list a:hover {
  color: orange;
}

/* new code for contact */

#contact {
  /* background-color: #fbb03b; */
  background-color: rgb(22, 22, 22);
  padding-bottom: 80px;
}
.mainContact {
  display: grid;
  grid-template-columns: 400px 400px;
  justify-content: center;
  gap: 80px;
}
#form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.contctH h2 {
  color: rgb(76, 173, 73);
  margin-bottom: 45px;
}

.leftCont {
  color: white;
}

.leftCont p {
  color: white;
}

input {
  border-radius: 7px;
  border: none;
  text-align: center;
}

#submitBtn {
  border: none;
  border-radius: 7px;
  background-color: rgb(76, 173, 73);
  color: white;
  font-family: "Play", sans-serif;
  padding: 10px 0;
}

.goback {
  display: flex;
  justify-content: center;
  margin-bottom: 233px;
}

.top {
  margin-top: 100px;
}

.goB {
  border: none;
  border-radius: 7px;
  background-color: #17365d;
  color: white;
  padding: 10px;
}

.goB a {
  color: white;
}

.goB a:hover {
  color: orange;
}

#txtA {
  padding: 50px 0;
}

.socialM {
  text-align: center;
}

.about-info p {
  color: white;
}
